html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  position: absolute;
  top: 5px;
  left: 10px;
}

p {
  position: absolute;
  margin: 0;
  top: 35px;
  right: 5px;
  color: #aaaaaa;
}

canvas {
  display: block;
}