html, body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

h1 {
  position: absolute;
  left: 10px;
  top: 10px;
  color: white;
  font-family: Arial;
}

p {
  position: absolute;
  margin: 0;
  top: 40px;
  left: 10px;
  color: #aaaaaa;
  font-family: Arial;
}

canvas {
  display: block;
}